@tailwind base;
@tailwind components;
@tailwind utilities;


:root, html, body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pic-bg {
  background-image: url("/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.header {
  background-color:#242526;
  background-image: linear-gradient(69deg, #242526 0%, #414345 74%);
}

.animated-bg {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
    opacity: 1;
	}
	50% {
		background-position: 100% 50%;
	}
  90% {
    opacity: 0.7;
  }
	100% {
		background-position: 0% 50%;
    opacity: 0;
	}
}

.mesh-bg {
  background-color:hsla(196,70%,53%,1);
  background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 20% 12%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
}

.popInAnimateY {
  animation: popIn 0.2s ease-out;
}

.popInAnimateUser {
  animation: popInUser 0.2s ease-out;
}

@keyframes popInY {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }  
}

@keyframes popInUser {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateY(0);
  }  
}